parameters:
  level: 3
  ignoreErrors:
    - '#Access to an undefined property Slim\\Http\\Decorators\\ResponseDecorator\:\:\$#'
    - '#Access to an undefined property Slim\\Http\\Decorators\\ServerRequestDecorator\:\:\$#'
    - '#Access to an undefined property Slim\\Http\\Decorators\\UriDecorator\:\:\$#'
